.git/
.github/
**/__pycache__/
*.py[cod]
project_venv/
altercall_venv/
.venv/
venv/
db.sqlite3
.env
.env.*
!.env.sample
docs/
staticfiles/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
*.md
.DS_Store
